<nav class="d-flex justify-content-between">
  <p><i class="fa-solid fa-code"></i>  code by Vince</p>
  <ul class="nav-menu">
    <li><a href="#">about</a></li>
    <li><a href="#">projects</a></li>
    <li><a href="#">contact</a></li>
  </ul>
</nav>
