

<div class="popup-nav"></div>

<%# <div class="splash" data-controller="pageload" data-pageload-target="onLoad">
  <h1 class="fade-in">Welcome to my Website!</h1>
</div> %>

<main class="wrapper">

  <%= render "pages/navbar" %>

  <header class="hero">
    <img class="background" src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689265375/milad-fakurian-VbC-EiOTDqA-unsplash_melnzt.jpg" alt="background grey">
    <img class="foreground avatar" src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689086475/My_project_jwpikv.png" alt="vince">

    <div class="title">
      <div class="arrow">
        <i class="fa-solid fa-arrow-trend-down"></i>
      </div>
      <p>Greetings! I'm an aspiring Fullstack | Frontend Web Developer based in Singapore, dedicated to crafting dynamic web applications.</p>
      <marquee width="60%" direction="left">Voo Tzuen Hau | Vince --</marquee>
    </div>
  </header>

  <section class="about-wrapper" id="about">
    <div class="about">
      <h2 class="">About Me</h2>
      <p>
        With over a decade of nursing experience in diverse hospital settings across Singapore and Malaysia,
        I recently completed a rigorous 9-week web development boot camp with Le Wagon,
        equipping me with comprehensive technical skills. Proficient in HTML, CSS, JavaScript, and frameworks like Stimulus,
        I bring a unique blend of empathy and technical excellence. I am actively working on personal projects to revolutionize
        user experiences and seeking full-time opportunities in the tech industry where I can contribute my interdisciplinary expertise
        and passion for creating impactful online solutions.
      </p>
    </div>
    <div>
      <%= render "pages/button" %>
    </div>
  </section>

  <div class="logos-container">
    <h3 class="w-100 text-center">Tech Stack</h3>
    <br>

    <div class="logos">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/ruby_6132219_nbsbeo.png" alt="Ruby">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/Rails_bwszgb.png" alt="Rails">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/html-5_5968267_vaxtfn.png" alt="HTML">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/css-3_5968242_xag930.png" alt="CSS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/sass_5968358_euxfdl.png" alt="SCSS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/js_5968292_qn7eid.png" alt="JS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/pngegg_smtovn.png" alt="Bootstrap">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300386/pngwing.com_wcwbxx.png" alt="SQL">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/figma_8848570_qj6zzr.png" alt="Figma">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/heroku_873120_mixtoe.png" alt="Heroku">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689301003/git_joluax.png" alt="Git">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689301003/github_rcl2f3.png" alt="Github">
    </div>
  </div>

  <br>

<hr class="w-75 m-auto">
  <br>

  <section class="project" id="projects">

    <h3>My Collaborate Projects</h3>

    <div class="screen-wrapper">
      <div class="screen top">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div class="card">
              <div class="image one"></div>
              <div class="screen-overlay"></div>
            </div>
            <figcaption class="card-title all-title fancy">SnapC</figcaption>
          </div>
      </div>

      <div class="about about-snapc">
        <p>A new platform-agnostic shopping tool designed to help you organize and elevate your shopping experience.</p>
        <br>
        <p>Tech stack: Ruby on rails, HTML, CSS, JavaScript, Stimulus, Chrome extension, AI</p>
      </div>

    </div>

    <div class="screen-wrapper">
      <div class="about about-etsy">
        <p>Etsy is a global online marketplace, where people come together to make, sell, buy and collect unique items.</p>
        <br>
        <p>Tech Stack: Ruby on rails, HTML, CSS, JavaScript, Stimulus</p>
      </div>

      <div class="screen bottom">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div class="card">
              <div class="image two"></div>
              <div class="screen-overlay"></div>
            </div>
            <figcaption class="etsy-title all-title fancy">Etsy(Clone)</figcaption>
          </div>
      </div>

  </section>

<hr class="w-75 m-auto">

  <div class="upcoming-projects">
    <h3>Upcoming Projects</h3>

    <div class="upcoming">
      <p><span>To be updated soon..</span></p>
      <p><span>...</span></p>
      <p><span>...</span></p>
    </div>

  </div>

<hr class="w-75 m-auto">

  <div class="footer" id="contact">
    <h3>Let's collaborate and make your vision a reality!</h3>
    <h4><i class="fa-solid fa-code"></i>  coded by Vince</h4>
    <div class="links">
      <a href="https://github.com/LiquidSi1k"><i class="fa-brands fa-github"></i> Git</a>
      <a href="https://www.linkedin.com/in/vincevoo"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a href="#"><i class="fa-regular fa-envelope"></i> vince_voo@yahoo.com</a>
    </div>
  </div>

</main>
