<%= render "pages/navbar" %>

<header class="hero">
  <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689005148/vince2_re2leo.png" alt="vince">

  <p>Full stack | web dev</p>

  <h1>Voo Tzuen Hau | Vince --</h1>
</header>

<main>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</main>

<footer>
  <ul class="d-flex justify-content-around">
    <li>git</li>
    <li>linked in</li>
    <li>email</li>
  </ul>
</footer>
