
<div class="splash" data-controller="pageload" data-pageload-target="onLoad">
  <h1 class="fade-in">Welcome to my Website!</h1>
</div>

<main class="wrapper">

  <%= render "pages/navbar" %>

  <header class="hero">
    <img class="background" src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689665677/background-edited_ek2yku.png" alt="background grey">
    <img class="foreground avatar" src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689086475/My_project_jwpikv.png" alt="vince" draggable="false">

    <div class="title">
      <div class="arrow">
        <i class="fa-solid fa-arrow-trend-down"></i>
      </div>
      <p><strong><em>Dedicated to crafting dynamic web applications.</em></strong>
      Greetings! I'm an aspiring Fullstack | Frontend Web Developer based in Singapore.</p>
      <h2 class="name">Voo Tzuen Hau | Vince</h2>
      <marquee width="60%" direction="left">Voo Tzuen Hau | Vince --</marquee>
    </div>
  </header>

  <section class="about-wrapper" id="about" loading="lazy">
    <div class="about">
      <h2 class="text-center">About Me</h2>
      <br>
      <p>
        Embarking on a remarkable career switch, I have ventured into an exhilarating journey of transformation. Through an intensive 9-week web development boot camp with Le Wagon, I have acquired valuable skills in HTML, CSS, JavaScript, and frameworks like Stimulus.
        Motivated by a deep-seated desire to redefine user experiences, I am driven to revolutionize the digital landscape. With a solid foundation in web development and an unwavering passion for creating impactful online solutions, I strive to push the boundaries of what is achievable.
        Inspired by the possibilities that lie at the intersection of compassion and technological innovation, I set out on a mission to redefine the way people engage with digital platforms. While my nursing background fuels my empathy, my technical expertise in web development empowers me to create captivating and user-centric experiences.
        Currently seeking new opportunities in the tech industry, I humbly offer my interdisciplinary expertise and unwavering dedication. Together, let us embark on an exciting journey that reshapes the future, where technology and empathy intertwine to empower and transform lives.
      </p>
    </div>
    <div class="download-btn">
      <%= render "pages/button" %>
    </div>
  </section>

  <div class="logos-container">
    <h3 class="w-100 text-center">Tech Stack</h3>
    <br>

    <div class="logos">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/ruby_6132219_nbsbeo.png" alt="Ruby">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/Rails_bwszgb.png" alt="Rails">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/html-5_5968267_vaxtfn.png" alt="HTML">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/css-3_5968242_xag930.png" alt="CSS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/sass_5968358_euxfdl.png" alt="SCSS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/js_5968292_qn7eid.png" alt="JS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/pngegg_smtovn.png" alt="Bootstrap">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300386/pngwing.com_wcwbxx.png" alt="SQL">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/figma_8848570_qj6zzr.png" alt="Figma">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/heroku_873120_mixtoe.png" alt="Heroku">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689301003/git_joluax.png" alt="Git">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689301003/github_rcl2f3.png" alt="Github">
    </div>
  </div>

  <br>

  <hr class="w-75 m-auto">
  <br>

  <section class="project" id="projects">

    <h3>My Collaborate Projects</h3>

    <div class="screen-wrapper wrapper-top">
      <div class="screen top">
          <a href="https://snapc-750301f6d492.herokuapp.com/" target="_blank" class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div class="card">
              <div class="image one"></div>
              <div class="screen-overlay"></div>
            </div>
            <figcaption class="card-title all-title fancy">SnapC</figcaption>
          </a>
      </div>

      <div class="about about-snapc">
        <h2 class="text-center">
          SnapC: Simplifying Online Shopping with 3D Visualization
        </h2>
        <br>
        <h4 class="text-center">
          SnapC streamlines online shopping through organized 3D visualization.
        </h4>
        <br>
        <p>
          Tired of chaotic tabs and difficulty envisioning products? SnapC eliminates the hassle by presenting your discoveries in stunning 3D formats. No more scattered links or uncertainty.
        </p>

        <p>
          SnapC enables personalized wishlists, price and rating comparisons, and interactive 3D product experiences. Try on clothes virtually or visualize furniture in your space. Experience a simplified and enhanced shopping journey with SnapC.
        </p>

        <p>Tech Stack: Ruby on rails, HTML, CSS, JavaScript, Stimulus, Chrome Extension & Chat GPT API.</p>
      </div>

    </div>

    <div class="screen-wrapper wrapper-bottom">
      <div class="about about-etsy">
        <h2 class="text-center">
          Etsy(clone)
        </h2>
        <br>
        <h4 class="text-center">
          Etsy enhances your shopping journey on Etsy with curated collections, advanced visualization, and improved search.
        </h4>
        <br>
        <p>
          This project was done to utilize skills learned & for practice.
        </p>

        <p>Tech Stack: Ruby on rails, HTML, CSS, JavaScript, Stimulus.</p>
      </div>

      <div class="screen bottom">
          <a href="https://github.com/dylanong/etsy" target="_blank" class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div class="card">
              <div class="image two"></div>
              <div class="screen-overlay"></div>
            </div>
            <figcaption class="etsy-title all-title fancy">Etsy(Clone)</figcaption>
          </a>
      </div>

  </section>

  <hr class="w-75 m-auto">

  <div class="upcoming-projects">
    <h3>Upcoming Projects</h3>

    <div class="upcoming">
      <p><span>To be updated soon..</span></p>
      <p><span>...</span></p>
      <p><span>...</span></p>
    </div>

  </div>

  <hr class="w-75 m-auto">

  <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 100" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 0, 0, 1)" offset="0%"></stop><stop stop-color="rgba(240, 240, 240, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,70L60,20L120,20L180,70L240,60L300,50L360,30L420,0L480,80L540,50L600,50L660,60L720,80L780,60L840,60L900,60L960,30L1020,70L1080,10L1140,10L1200,50L1260,50L1320,70L1380,20L1440,50L1440,100L1380,100L1320,100L1260,100L1200,100L1140,100L1080,100L1020,100L960,100L900,100L840,100L780,100L720,100L660,100L600,100L540,100L480,100L420,100L360,100L300,100L240,100L180,100L120,100L60,100L0,100Z"></path></svg>
  <div class="footer" id="contact">
    <h3>Let's collaborate and make your vision a reality!</h3>
    <h4><i class="fa-solid fa-code"></i>  coded by Vince</h4>
    <div class="links">
      <a href="https://github.com/LiquidSi1k" target="_blank"><i class="fa-brands fa-github"></i> Git</a>
      <a href="https://www.linkedin.com/in/vincevoo" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a href="mailto: vince_voo@yahoo.com" target="_blank"><i class="fa-regular fa-envelope"></i> Email</a>
    </div>
  </div>

</main>
