
<div class="splash" data-controller="pageload" data-pageload-target="onLoad">
  <h1 class="fade-in">Welcome to my Website!</h1>
</div>

<main class="wrapper">

  <%= render "pages/navbar" %>

  <header class="hero">
    <img class="background" src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689265375/milad-fakurian-VbC-EiOTDqA-unsplash_melnzt.jpg" alt="background grey">
    <img class="foreground avatar" src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689086475/My_project_jwpikv.png" alt="vince" draggable="false">

    <div class="title">
      <div class="arrow">
        <i class="fa-solid fa-arrow-trend-down"></i>
      </div>
      <p><strong><em>Dedicated to crafting dynamic web applications.</em></strong>
      Greetings! I'm an aspiring Fullstack | Frontend Web Developer based in Singapore.</p>
      <h2 class="name">Voo Tzuen Hau | Vince</h2>
      <marquee width="60%" direction="left">Voo Tzuen Hau | Vince --</marquee>
    </div>
  </header>

  <section class="about-wrapper" id="about">
    <div class="about">
      <h2 class="">About Me</h2>
      <p>
        Embarking on a remarkable career switch, I have ventured into an exhilarating journey of transformation. Through an intensive 9-week web development boot camp with Le Wagon, I have acquired valuable skills in HTML, CSS, JavaScript, and frameworks like Stimulus.
        Motivated by a deep-seated desire to redefine user experiences, I am driven to revolutionize the digital landscape. With a solid foundation in web development and an unwavering passion for creating impactful online solutions, I strive to push the boundaries of what is achievable.
        Inspired by the possibilities that lie at the intersection of compassion and technological innovation, I set out on a mission to redefine the way people engage with digital platforms. While my nursing background fuels my empathy, my technical expertise in web development empowers me to create captivating and user-centric experiences.
        Currently seeking new opportunities in the tech industry, I humbly offer my interdisciplinary expertise and unwavering dedication. Together, let us embark on an exciting journey that reshapes the future, where technology and empathy intertwine to empower and transform lives.
      </p>
    </div>
    <div class="download-btn">
      <%= render "pages/button" %>
    </div>
  </section>

  <div class="logos-container">
    <h3 class="w-100 text-center">Tech Stack</h3>
    <br>

    <div class="logos">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/ruby_6132219_nbsbeo.png" alt="Ruby">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/Rails_bwszgb.png" alt="Rails">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/html-5_5968267_vaxtfn.png" alt="HTML">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/css-3_5968242_xag930.png" alt="CSS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/sass_5968358_euxfdl.png" alt="SCSS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/js_5968292_qn7eid.png" alt="JS">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300233/pngegg_smtovn.png" alt="Bootstrap">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300386/pngwing.com_wcwbxx.png" alt="SQL">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/figma_8848570_qj6zzr.png" alt="Figma">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689300232/heroku_873120_mixtoe.png" alt="Heroku">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689301003/git_joluax.png" alt="Git">
      <img src="https://res.cloudinary.com/dbbh9vabe/image/upload/v1689301003/github_rcl2f3.png" alt="Github">
    </div>
  </div>

  <br>

  <hr class="w-75 m-auto">
  <br>

  <section class="project" id="projects">

    <h3>My Collaborate Projects</h3>

    <div class="screen-wrapper wrapper-top">
      <div class="screen top">
          <a href="https://snapc-750301f6d492.herokuapp.com/" target="_blank" class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div class="card">
              <div class="image one"></div>
              <div class="screen-overlay"></div>
            </div>
            <figcaption class="card-title all-title fancy">SnapC</figcaption>
          </a>
      </div>

      <div class="about about-snapc">
        <h2 class="text-center">
          SnapC: Simplifying Online Shopping with 3D Visualization
        </h2>
        <br>
        <h4 class="text-center">
          SnapC streamlines online shopping through organized 3D visualization.
        </h4>
        <br>
        <p>
          Tired of chaotic tabs and difficulty envisioning products? SnapC eliminates the hassle by presenting your discoveries in stunning 3D formats. No more scattered links or uncertainty.
        </p>

        <p>
          SnapC enables personalized wishlists, price and rating comparisons, and interactive 3D product experiences. Try on clothes virtually or visualize furniture in your space. Experience a simplified and enhanced shopping journey with SnapC.
        </p>

        <p>Tech Stack: Ruby on rails, HTML, CSS, JavaScript, Stimulus, Chrome Extension & Chat GPT API.</p>
      </div>

    </div>

    <div class="screen-wrapper wrapper-bottom">
      <div class="about about-etsy">
        <h2 class="text-center">
          Etsy(clone)
        </h2>
        <br>
        <h4 class="text-center">
          Etsy enhances your shopping journey on Etsy with curated collections, advanced visualization, and improved search.
        </h4>
        <br>
        <p>
          This project was done to utilize skills learned & for practice.
        </p>

        <p>Tech Stack: Ruby on rails, HTML, CSS, JavaScript, Stimulus.</p>
      </div>

      <div class="screen bottom">
          <a href="https://github.com/dylanong/etsy" target="_blank" class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div class="card">
              <div class="image two"></div>
              <div class="screen-overlay"></div>
            </div>
            <figcaption class="etsy-title all-title fancy">Etsy(Clone)</figcaption>
          </a>
      </div>

  </section>

  <hr class="w-75 m-auto">

  <div class="upcoming-projects">
    <h3>Upcoming Projects</h3>

    <div class="upcoming">
      <p><span>To be updated soon..</span></p>
      <p><span>...</span></p>
      <p><span>...</span></p>
    </div>

  </div>

  <hr class="w-75 m-auto">

  <div class="footer" id="contact">
    <h3>Let's collaborate and make your vision a reality!</h3>
    <h4><i class="fa-solid fa-code"></i>  coded by Vince</h4>
    <div class="links">
      <a href="https://github.com/LiquidSi1k" target="_blank"><i class="fa-brands fa-github"></i> Git</a>
      <a href="https://www.linkedin.com/in/vincevoo" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
      <a href="mailto: vince_voo@yahoo.com" target="_blank"><i class="fa-regular fa-envelope"></i> Email</a>
    </div>
  </div>

</main>
