.splash {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: #f0f0f0;
  top: 0;
  left: 0;
  text-align: center;
  color: #000;
  transition: all 300ms ease-in-out;

  h1 {
    margin-top: 20vmin;
  }
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }
}

.afterload {
  height: 0;
  opacity: 0;
  border-radius: 0 0 30vmin 30vmin;
}

section {
  height: 100vh;
  width: 100%;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  .about {
    padding: 10px;
    background-color: #fefefe;
  }
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;

  .background,
  .foreground {
    position: absolute;
    width: 100vw;
    z-index: -1;
  }

  .background {
    transform: translateZ(-10px) scale(2);
    height: 100%;
    object-fit: cover;
  }

  .foreground {
    transform: translateZ(-5px) scale(1.5);
    width: 130vmin;
    bottom: -10vmin;
  }

  img.avatar {
    height: 80%;
    left: 0;
    filter: drop-shadow(0 0 0.2rem black);
  }

  .name {
    color: #f0f0f0;
    display: none;
  }
}

.title > p {
  position: absolute;
  right: 10vmin;
  font-size: 3vmin;
  color: #fff;
  width: 65vmin;
}

marquee {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 20vmin;
  color: #fff;
  z-index: 1;
  left: 0;
}

.arrow {
  position: absolute;
  top: 40vh;
  right: 30%;
  font-size: 5vmin;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
}

// about section

.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  line-height: 5vmin;
  letter-spacing: 0.2vmin;
}

// logos section

.logos {
  width: 100%;
  text-align: center;
  img {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 8vmin;
    aspect-ratio: 4/3;
    object-fit: contain;
  }
}

// upcoming projects

.upcoming-projects {
  width: 100%;
  height: 60vh;
  text-align: center;
  padding: 4vmin;
}

.upcoming {
  width: 50vmin;
  height: 40vmin;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.upcoming p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid #113e21;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.upcoming p:hover {
  flex: 4;
}

.upcoming p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: #b38b59;
  letter-spacing: 0.1em;
}

.upcoming p:hover span {
  transform: rotate(0);
}

// footer

.footer {
  background-image: url("https://res.cloudinary.com/dbbh9vabe/image/upload/v1689265375/milad-fakurian-RVM5HYqg2jA-unsplash_ipcs2y.jpg");
  background-position: right;
  position: relative;
  width: 100%;
  height: 30%;
  text-align: center;
  h3,
  h4 {
    color: #fff;
    padding: 3vmin;
    font-size: 3vmin;
  }
}

.links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;

  a {
    text-decoration: none;
    color: #fff;
  }
}
