// phone screen

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .hero img.avatar {
    height: 60vmin;
    width: -webkit-fill-available;
  }

  .title > p {
    top: 20vmin;
    right: 0;
  }

  .arrow {
    top: 10vmin;
    left: 20vmin;
  }

  .download-btn {
    display: none;
  }

  .about {
    width: 100%;
  }

  marquee {
    display: none;
  }

  .name {
    display: block !important;
    position: absolute;
    top: 40vmin;
    right: 0;
  }

  .project {
    height: 150vh;
    width: 90%;
  }

  .wrapper-top,
  .wrapper-bottom {
    display: flex;
  }

  .wrapper-bottom {
    flex-direction: column-reverse;
  }

  .wrapper-top {
    flex-direction: column;
  }

  .top,
  .bottom {
    width: 100%;
    margin-bottom: 10px;
  }
}

// end of phone screen

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .top,
  .bottom {
    margin: 10px;
    height: 38vmin;
  }

  .project {
    height: 150vh;
  }

  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .download-btn {
    display: none;
  }

  .about {
    width: 90%;
  }

  .screen-wrapper {
    margin-left: 5vmin;
  }

  .title > p {
    top: 10vmin;
    right: 0;
  }

  .arrow {
    top: 10vmin;
    left: 10vmin;
  }

  .popup-nav {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .title > p {
    top: 10vmin;
    right: 0;
  }

  .arrow {
    top: 10vmin;
    left: 30vmin;
  }
}
