// phone screen

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .hero img.avatar {
    height: 60vmin;
    width: -webkit-fill-available;
  }

  .title > p {
    top: 20vmin;
    right: 0;
    font-size: larger;
  }

  .arrow {
    top: 10vmin;
    left: 20vmin;
  }

  .download-btn {
    display: none;
  }

  .about {
    width: 100%;
    margin: 8vmin 0;
  }

  marquee {
    display: none;
  }

  .name {
    display: block !important;
    position: absolute;
    top: 48vmin;
    right: 0;
    font-size: larger;
  }

  .project {
    height: 280vh;
    width: 90%;
  }

  .wrapper-top,
  .wrapper-bottom {
    display: flex;
  }

  .wrapper-bottom {
    flex-direction: column-reverse;
  }

  .wrapper-top {
    flex-direction: column;
  }

  .top,
  .bottom {
    width: 100%;
    margin-bottom: 10px;
  }

  .wrapper-top {
    height: 55%;
  }
  .wrapper-bottom {
    height: 45%;
  }

  .logos-container {
    margin-top: 10vmin;
  }
}

// end of phone screen

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .top,
  .bottom {
    margin: 10px;
    height: 38vmin;
  }

  .project {
    height: 170vh;
  }

  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .download-btn {
    display: none;
  }

  .about {
    width: 90%;
  }

  .screen-wrapper {
    margin-left: 5vmin;
  }

  .title > p {
    top: 10vmin;
    right: 0;
  }

  .arrow {
    top: 10vmin;
    left: 10vmin;
  }

  .popup-nav {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .title > p {
    top: 10vmin;
    right: 0;
  }

  .arrow {
    top: 10vmin;
    left: 20vmin;
  }
}

@media only screen and (max-width: 1600px) {
  body {
    font-size: clamp(16px, calc(-40.8896px + 92.592px * 100vw / 1600), 48px);
  }
}
